ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 0.8em;
    overflow: hidden;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
}

ul li span[innerHTML]::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

ul li div {
    margin-top: 5px;
}

.location-wrapper {
    background-color: lightgrey;
    padding: 1px;
}

.address-section {
    padding-bottom: 1px;
}

.address-header {
    display: flex;
    align-items: center;
}

.place-name {
    font-weight: bold;
}

.place-name mat-icon {
    vertical-align: middle;
}

.place-address {
    font-size: 0.9em;
    margin-left: 27px;
}

.distance-duration {
    margin-top: 1px;
    font-weight: bold;
}

.distance-duration mat-icon {
    font-size: 18px;
    vertical-align: middle;
}

.instruction-container {
    display: flex;
    align-items: center;
}

.arrow-symbol {
    margin-right: 10px;
    width: 24px;
    min-height: 24px;
}

.instructions mat-icon {
    width: 24px;
}

.instruction-text {
    margin-left: 20px;
}

.distance-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.horizontal-line {
    border-bottom: 1px solid lightgrey;
    width: 90%;
    display: inline-block;
    vertical-align: middle;
}