<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel App</title>
  </head>
  <body>
    <div class="banner">
      <div class="navbar">
        <span class="logo" (click)="clickLogo()">TRAVELAPP</span>
        <ul>
          <li><a href="#" (click)="clickHome()">Home</a></li>
          <li><a href="javascript:void(0)" (click)="toDashboard()">Dashboard</a></li>
          <li><a href="javascript:void(0)" (click)="toGuides()">Write a guide</a></li>
          <li><a href="javascript:void(0)" (click)="toAutocomplete()">Plan an itinerary</a></li>
          <li>
            <div class="logout-button">
                <button (click)="signout()">Log out</button>
            </div>
          </li>
        </ul>
      </div>
      <router-outlet></router-outlet>
    </div>
  </body>
</html>