* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.banner {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(70, 70, 70, 0.4),rgba(70, 70, 70, 0.4));
    background-position: center;
    background-size: center;
}

.navbar {
    position: relative;
    width: 90%;
    height: 60px;
    padding: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 60px;
    cursor: pointer;
    color: white;
    font-size: 24px;
    font-family: 'Brush Script MT', cursive;
    font-style: italic;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    padding: 15px;
}

li a:hover {
    background: white;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: black;
}

.logout-button {
    display: none;
}

.logout-button button {
    background-color: #3f51b5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.logout-button button:hover {
    background-color: #303f9f;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1000;
    font-size: 12px;
    left: -30%;
    width: 200px;
}

.dropdown-content li {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    padding: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    position: static;
    background-color: #f0f0f0;
    margin-top: 30px;
}

.footer-content {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    margin-right: 80px;
}

.footer-column h3 {
    font-weight: bold;
    font-size: 16px;
}

.footer-column a {
    display: block;
    margin-bottom: 30px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: left;
    padding: 10px;
}

.button {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
}

.button-column {
    margin-bottom: 10px;
}

.apple-button img {
    width: 150px;
    height: 46px;
    margin-left: 8px;
}

.google-button img {
    width: 168px;
    height: 62px;
}

.apple-button:hover,
.google-button:hover {
    cursor: pointer;
}