<h1 class="mat-dialog-title">Itinerary List</h1>
<mat-dialog-content class="mat-dialog-content">
  <div *ngIf="itineraries.length > 0; else noItineraries">
    <div
      *ngFor="let itinerary of itineraries"
      (click)="
        getFullItinerary(
          itinerary.uuid,
          itinerary.city,
          itinerary.startDate,
          itinerary.endDate
        )
      "
      class="itinerary-item"
    >
      {{ itinerary.city }} | {{ itinerary.startDate }} to
      {{ itinerary.endDate }}
    </div>
  </div>
  <a mat-dialog-close>Back</a>
</mat-dialog-content>
<ng-template #noItineraries>
  <p>No saved itineraries found</p>
</ng-template>
