<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="default"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    />
    <title>Document</title>
  </head>
  <body>
    <h2>My guides</h2>
    <div class="guides" *ngIf="guides.length > 0; else noGuides">
      <div
        class="guide"
        *ngFor="let guide of guides; let i = index"
        (click)="onGuideClick(guide)"
      >
        <div class="image-container">
          <img [src]="imageSources[i]" />
        </div>
        <div class="title">{{ guide.title }}</div>
        <div class="summary">{{ guide.summary }}</div>
        <div class="name-container">
          <div class="name">By {{ guide.author }}</div>
          <div class="views-container">
            <mat-icon>visibility</mat-icon>
            <div class="views">{{ viewCounts[i] }}</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<ng-template #noGuides>
  <h3 style="margin: 30px">You have not written any guides yet!</h3>
</ng-template>