<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="default"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Planning for a new trip?</h1>
      <mat-form-field appearance="outline" style="margin-top: 10px">
        <mat-label>Where to?</mat-label>
        <input #inputField matInput [placeholder]="placeholder" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Start Date:</mat-label>
        <input
          matInput
          [matDatepicker]="startDatePicker"
          (dateChange)="onStartDateChange($event)"
          [min]="minStartDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="startDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>End Date:</mat-label>
        <input
          matInput
          [matDatepicker]="endDatePicker"
          (dateChange)="onEndDateChange($event)"
          [min]="minEndDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="endDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="showInput">
        <mat-label>Invite friends:</mat-label>
        <input
          #inviteInput
          matInput
          placeholder="Email address here"
          [matAutocomplete]="auto"
          (input)="onInput(inviteInput.value)"
          (keyup.enter)="onInvite(inviteInput.value)"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="onOptionSelected($event.option.value)"
        >
          <mat-option *ngIf="inviteInputValue" [value]="inviteInputValue">
            Send email to {{ inviteInputValue }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div class="add-friends-container">
        <span class="add-friends" (click)="showInput = true"
          >+ Add friends</span
        >
      </div>
      <div
        *ngFor="let email of invitees; let i = index"
        style="margin-bottom: 8px"
      >
        {{ email }}
        <button mat-icon-button (click)="onRemoveInvitee(i)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <button
        class="start-exploring-button"
        mat-raised-button
        color="warn"
        (click)="onStartExploring()"
      >
        Start Exploring!
      </button>
    </div>
  </body>
</html>
