.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

mat-form-field {
    width: 300px;
}

input[type="date"]{
    margin: 8px 0;
}

h1 {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
}

.add-friends {
    display: inline-block;    
    cursor: pointer;
    margin-bottom: 16px;
}

.add-friends:hover {
    color: #3f51b5;
}

.add-friends-container {
    display: flex;
    justify-content: flex-start;
    margin-right: 210px;
}

.start-exploring-button {
    border-radius: 999px;
    padding: 24px 32px;
    font-size: 18px;
}