<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Explore</h2>
    <h3>Popular Destinations</h3>
    <table>
        <tr>
            <td>
                <div class="image-container">
                    <img src="/assets/venice.jpg">
                </div>
                <div>Venice</div>
                <div>Great place!</div>
                <div>John Lim</div>
            </td>
            <td>
                <div class="image-container">
                    <img src="/assets/sydney.jpg">
                </div>
                <div>Sydney</div>
                <div>Amazing views!</div>
                <div>Jane Seah</div>
            </td>
            <td>
                <div class="image-container">
                    <img src="/assets/san_francisco.jpg">
                </div>
                <div>San Francisco</div>
                <div>Must visit!</div>
                <div>Bob Smith</div>
            </td>
        </tr>
    </table>
</body>
</html>