<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome {{ name }}!</h1>
    <h3>Weather forecast</h3>
    <div class="input-container">
      <mat-form-field>
        <input
          matInput
          #cityInput
          placeholder="Or search for a city"
          (keyup.enter)="searchWeatherByCity()"
        />
        <button mat-icon-button matSuffix (click)="searchWeatherByCity()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div 
      *ngIf="weatherData" 
      class="weather-container"
      (click)="onWeatherClick($event)"
    >
      <div class="weather" *ngIf="earliestDay">
        <div class="top">
          <div>
            <p class="city">{{ earliestDay.city }}</p>
            <br />
            <p class="weather-description">{{ earliestDay.description }}</p>
          </div>
          <img [src]="getIconPath(earliestDay.icon)" class="weather-icon" />
        </div>
        <div class="bottom">
          <p class="temperature">{{ earliestDay.temperature | round }}°C</p>
          <div class="details">
            <div class="parameter-row">
              <span class="parameter-label">Feels like</span>
              <span class="parameter-value"
                >{{ earliestDay.feels_like | round }}°C</span
              >
            </div>
            <div class="parameter-row">
              <span class="parameter-label">Min</span>
              <span class="parameter-value"
                >{{ earliestDay.minimum_temperature | round }}°C</span
              >
            </div>
            <div class="parameter-row">
              <span class="parameter-label">Max</span>
              <span class="parameter-value"
                >{{ earliestDay.maximum_temperature | round }}°C</span
              >
            </div>
            <div class="parameter-row">
              <span class="parameter-label">Wind</span>
              <span class="parameter-value"
                >{{ earliestDay.wind_speed | round }}m/s</span
              >
            </div>
            <div class="parameter-row">
              <span class="parameter-label">Humidity</span>
              <span class="parameter-value">{{ earliestDay.humidity }}%</span>
            </div>
            <div class="parameter-row">
              <span class="parameter-label">Sunrise</span>
              <span class="parameter-value">{{
                earliestDay.sunrise | time
              }}</span>
            </div>
            <div class="parameter-row">
              <span class="parameter-label">Sunset</span>
              <span class="parameter-value">{{
                earliestDay.sunset | time
              }}</span>
            </div>
          </div>
        </div>
      </div>
      <div 
        class="other-days" 
        *ngFor="let day of weatherData.weatherData"
        (click)="onOtherDayClick($event, day)"
      >
        <p class="short-day">{{ day.dayOfWeekShort }}</p>
        <hr />
        <img [src]="getIconPath(day.icon)" class="weather-icon-small" />
        <p class="other-days-temp">{{ day.temperature | round }}°C</p>
      </div>
    </div>
    <h3>Recently viewed itineraries</h3>
    <div
      class="itineraries"
      *ngIf="selectedItineraries.length > 0; else noItineraries"
    >
      <div
        class="itinerary"
        *ngFor="let itinerary of selectedItineraries; let i = index"
        (click)="
          onItineraryClick(
            itinerary.uuid,
            itinerary.city,
            itinerary.startDate,
            itinerary.endDate
          )
        "
      >
        <div class="image-container">
          <img [src]="itineraryImageSources[i]" />
        </div>
        <div class="title">Trip to {{ itinerary.city }}</div>
        <div class="summary">
          {{ itinerary.startDate | date : "MMM d" }} -
          {{ itinerary.endDate | date : "d" }}
        </div>
      </div>
    </div>
    <h3 class="review-title">Hear from our happy travelers</h3>
    <div class="reviews-container">
      <button
        class="scroll-button scroll-left"
        (click)="scrollReviews(-1)"
        [ngClass]="{ hidden: isScrolledLeft }"
      >
        <
      </button>
      <div class="reviews" (scroll)="onReviewsScroll($event)">
        <div class="review" *ngFor="let review of reviews">
          <div class="review-content">{{ review.content }}</div>
          <div class="review-footer">
            <div class="review-author">{{ review.author }}</div>
            <div class="review-rating">
              <span
                *ngFor="let star of [1, 2, 3, 4, 5]"
                [class.filled]="star <= review.rating"
              >
                ★
              </span>
            </div>
          </div>
        </div>
      </div>
      <button
        class="scroll-button scroll-right"
        (click)="scrollReviews(1)"
        [ngClass]="{ hidden: isScrolledRight }"
      >
        >
      </button>
    </div>
    <h2>Explore</h2>
    <h3>Popular Destinations</h3>
    <div class="guides">
      <div
        class="guide"
        *ngFor="let guide of selectedGuides; let i = index"
        (click)="onGuideClick(guide)"
      >
        <div class="image-container">
          <img [src]="guideImageSources[i]" />
        </div>
        <div class="title">{{ guide.title }}</div>
        <div class="summary">{{ guide.summary }}</div>
        <div class="name-container">
          <div class="name">By {{ guide.author }}</div>
          <div class="views-container">
            <mat-icon>visibility</mat-icon>
            <div class="views">{{ viewCounts[i] }}</div>
          </div>
        </div>
      </div>
    </div>
    <button
      id="scrollToTopButton"
      class="scroll-to-top-button"
      (click)="scrollToTop()"
    >
      <mat-icon>arrow_upward</mat-icon>
      Top
    </button>
  </body>
</html>
<ng-template #noItineraries>
  <h4 style="margin: 30px">You have not added any itineraries yet!</h4>
</ng-template>