<button class="back-button" role="button" (click)="goBack()">
  <span class="text"><mat-icon>arrow_back</mat-icon></span>
</button>
<ul>
  <li *ngFor="let location of locations; let i = index">
    <ng-container *ngIf="i < locations.length">
      <div class="location-wrapper">
        <div class="address-section">
          <div class="address-header">
            <div>
              <div class="place-name">
                <mat-icon>place</mat-icon>&nbsp;{{ location.originName }}
              </div>
              <div class="place-address">{{ location.originAddress }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="distance-duration">
        Approximately {{ location.duration }} ({{ location.distance }})
        <mat-icon>directions_car</mat-icon>
      </div>
      <ng-container *ngFor="let instruction of instructionsByLocation[i]">
        <div class="instructions">
          <div class="instruction-container">
            <div class="arrow-symbol">
              <ng-container [ngSwitch]="instruction.maneuver">
                <mat-icon *ngSwitchCase="'turn-slight-left'">
                  turn_slight_left
                </mat-icon>
                <mat-icon *ngSwitchCase="'turn-sharp-left'">
                  turn_sharp_left
                </mat-icon>
                <mat-icon *ngSwitchCase="'uturn-left'"> u_turn_left </mat-icon>
                <mat-icon *ngSwitchCase="'turn-left'"> turn_left </mat-icon>
                <mat-icon *ngSwitchCase="'turn-slight-right'">
                  turn_slight_right
                </mat-icon>
                <mat-icon *ngSwitchCase="'turn-sharp-right'">
                  turn_sharp_right
                </mat-icon>
                <mat-icon *ngSwitchCase="'uturn-right'">
                  u_turn_right
                </mat-icon>
                <mat-icon *ngSwitchCase="'turn-right'"> turn_right </mat-icon>
                <mat-icon *ngSwitchCase="'straight'"> straight </mat-icon>
                <mat-icon *ngSwitchCase="'ramp-left'"> ramp_left </mat-icon>
                <mat-icon *ngSwitchCase="'ramp-right'"> ramp_right </mat-icon>
                <mat-icon *ngSwitchCase="'merge'"> merge </mat-icon>
                <mat-icon *ngSwitchCase="'fork-left'"> fork_left </mat-icon>
                <mat-icon *ngSwitchCase="'fork-right'"> fork_right </mat-icon>
              </ng-container>
            </div>
            <div class="instruction-text"></div>
            <span
              *ngIf="instruction.instruction"
              [innerHTML]="instruction.instruction"
            >
            </span>
          </div>
          <div class="distance-container">
            <div *ngIf="instruction.distance">{{ instruction.distance }}</div>
            <div *ngIf="instruction.distance" class="horizontal-line"></div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="i === locations.length - 1">
        <div class="location-wrapper">
          <div class="address-section">
            <div class="address-header">
              <div>
                <div class="place-name">
                  <mat-icon>place</mat-icon>&nbsp;{{ location.destinationName }}
                </div>
                <div class="place-address">
                  {{ location.destinationAddress }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </li>
</ul>
