ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 0.8em;
    overflow: hidden;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
}

ul li span[innerHTML]::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

ul li div {
    border-bottom: 1px solid lightgrey;
    margin-top: 5px;
}

.address-section {
    background-color: lightgrey;
    padding: 10px;
}

.address-header {
    display: flex;
    align-items: center;
}

.place-name {
    font-weight: bold;
}

.place-address {
    font-size: 0.8em;
}

.distance-duration {
    margin-top: 10px;
}