<div class="container">
  <div class="left-section">
    <div class="top-left-section">
      <div class="button-container">
        <button class="guide-edit-button" role="button" (click)="onBackClick()">
          <img src="/assets/back.png" />
          Back
        </button>
        <button
          class="guide-edit-button"
          role="button"
          *ngIf="author === authorName"
          (click)="onEditClick()"
        >
          <img src="/assets/editing.png" />
          Edit
        </button>
      </div>
      <h2>{{ guide.title }}</h2>
    </div>
    <div class="bottom-left-section">
      <p>{{ guide.summary }}</p>
      <div class="author-container">
        <p>By {{ authorName }}</p>
        <div class="likes-container">
          <mat-icon>favorite</mat-icon>
          <span>{{ likeCount }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="right-section">
    <div *ngFor="let day of guide.guideData | keyvalue; let isLast = last">
      <h3>{{ day.key }}</h3>
      <ul>
        <li *ngFor="let place of getDayData(day).places">{{ place }}</li>
      </ul>
      <p>{{ getDayData(day).comment }}</p>
      <hr *ngIf="!isLast" />
    </div>
  </div>
</div>
