<div class="scrollable-container">
  <div class="bucket-list">
    <div class="button-wrapper">
      <button class="back-button" role="button" (click)="savePlan()">
        <span class="text"><mat-icon>save</mat-icon>Save</span>
      </button>
      <button class="iti-list-button" role="button" (click)="getItiList()">
        Saved Itineraries
      </button>
    </div>
    <br />
    <ul
      cdkDropList
      id="bucketList"
      #bucketList="cdkDropList"
      [cdkDropListData]="savedPlacesSvc.savedPlaces"
      [cdkDropListConnectedTo]="datesListsArray.toArray()"
      (cdkDropListDropped)="drop($event)"
    >
      <mat-toolbar color="primary">
        <span>Bucket List</span>
      </mat-toolbar>
      <li
        *ngFor="let place of savedPlacesSvc.savedPlaces"
        cdkDrag
        [cdkDragData]="place"
      >
        <span>{{ place.name }}</span>
        <button (click)="deletePlace(place.place_id)">
          <img src="/assets/trash.png" />
        </button>
      </li>
    </ul>
  </div>
  <div class="dates-list">
    <div
      *ngFor="let dateWithItems of datesArray; let i = index"
      class="sub-dates-list"
    >
      <ul
        #datesList="cdkDropList"
        class="iti-list"
        cdkDropList
        [id]="'dates-list-' + i"
        [cdkDropListData]="dateWithItems.items"
        [cdkDropListConnectedTo]="getConnectedLists()"
        (cdkDropListDropped)="drop($event)"
      >
        <mat-toolbar
          class="dates-toolbar"
          [class.clicked]="clickedDate === dateWithItems.date.toISOString()"
          color="primary"
          (click)="
            dateWithItems.items.length > 0 &&
              toggleDirections(dateWithItems.items, dateWithItems.date)
          "
        >
          <span class="date-format">{{
            dateWithItems.date | date : "d MMM y"
          }}</span>
        </mat-toolbar>
        <li
          *ngFor="let item of dateWithItems.items; let j = index"
          cdkDrag
          class="alpha-list-item"
        >
          <span>{{ item.name }}</span>
          <div>
            <button
              (click)="
                deleteItemFromDatesList(item.place_id, dateWithItems.items)
              "
            >
              <img src="/assets/trash.png" />
            </button>
            <button
              (click)="addItemToDatesList(item.place_id, dateWithItems.items)"
            >
              <img src="/assets/add.png" />
            </button>
            <button (click)="openNotesDialog(item.place_id)">
              <img src="/assets/notes.png" />
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
