<script
  async
  src="https://maps.googleapis.com/maps/api/js?key=API_KEY&libraries=places&callback=initMap"
></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>

<div class="flex-content">
  <div id="map"></div>
  <div class="place-details">
    <ng-container *ngIf="isToolbarClicked; else placeDetails">
      <app-directions-instructions></app-directions-instructions>
    </ng-container>
    <ng-template #placeDetails>
      <router-outlet name="placeDetails"></router-outlet>
      <div *ngIf="showContent" [@slideInOut]>
        <mat-button-toggle-group
          #group="matButtonToggleGroup"
          multiple
          class="filter-buttons"
          (change)="onToggleChange()"
        >
          <div class="filter-button-row">
            <mat-button-toggle value="restaurant" class="filter-button">
              <mat-icon>restaurant</mat-icon> Restaurant
            </mat-button-toggle>
            <mat-button-toggle value="bar" class="filter-button">
              <mat-icon>local_bar</mat-icon> Drinks
            </mat-button-toggle>
            <mat-button-toggle value="tourist_attraction" class="filter-button">
              <mat-icon>photo_camera</mat-icon> Attractions
            </mat-button-toggle>
          </div>
          <div class="filter-button-row">
            <mat-button-toggle value="shopping_mall" class="filter-button">
              <mat-icon>shopping_bag</mat-icon> Shopping
            </mat-button-toggle>
            <mat-button-toggle value="lodging" class="filter-button">
              <mat-icon>bed</mat-icon> Hotel
            </mat-button-toggle>
            <mat-button-toggle value="cafe" class="filter-button">
              <mat-icon>local_cafe</mat-icon> Cafe
            </mat-button-toggle>
          </div>
        </mat-button-toggle-group>
        <div class="results-row">
          <div class="results-buttons">
            <button
              class="filter-button"
              (click)="applyFilters()"
              role="button"
            >
              Apply
            </button>
            &nbsp;&nbsp;
            <button
              class="filter-button"
              (click)="removeFilters()"
              role="button"
            >
              Clear
            </button>
          </div>
          <div class="results-count">{{ filteredPlaces.length }} places</div>
        </div>
        <hr />
        <ng-container *ngFor="let place of filteredPlaces">
          <div
            class="place"
            (click)="viewPlaceDetails(inputLocation, place.place_id)"
          >
            <img
              *ngIf="place.photos && place.photos.length > 0"
              [src]="place.photos[0].getUrl({ maxWidth: 200, maxHeight: 200 })"
            />
            <div
              class="no-photos"
              *ngIf="!place.photos || place.photos.length === 0"
            >
              <em>No photos found</em>
            </div>
            <div class="place-info">
              <h3>{{ place.name }}</h3>
              <p>{{ place.formatted_address }}</p>
              <p *ngIf="place.rating && place.user_ratings_total">
                <ng-container *ngIf="place.rating && place.rating >= 0">
                  <span
                    class="rating-star fas fa-star"
                    *ngFor="let i of [].constructor(Math.floor(place.rating))"
                  ></span>
                  <span
                    class="rating-star fas fa-star-half-alt"
                    *ngIf="place.rating % 1 !== 0"
                  ></span>
                </ng-container>
                &nbsp;({{ place.user_ratings_total }})
              </p>
              <p *ngIf="!place.rating || !place.user_ratings_total">
                <em>No rating found</em>
              </p>
            </div>
          </div>
          <hr />
        </ng-container>
      </div>
    </ng-template>
  </div>
  <app-itinerary></app-itinerary>
</div>
