<script
  async
  src="https://maps.googleapis.com/maps/api/js?key=API_KEY&libraries=places&callback=initMap"
></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>

<div class="flex-content">
  <div id="map"></div>
  <div class="place-details">
    <router-outlet name="placeDetails"></router-outlet>
    <div *ngIf="showContent" [@slideInOut]>
      <div class="filter-buttons">
        <div class="filter-button-row">
          <button class="filter-button" (click)="toggleHighlight($event)">
            <img src="/assets/icons_type/restaurant.png" /> Restaurant
          </button>
          <button class="filter-button" (click)="toggleHighlight($event)">
            <img src="/assets/icons_type/drinks.png" /> Drinks
          </button>
          <button class="filter-button" (click)="toggleHighlight($event)">
            <img src="/assets/icons_type/site.png" /> Attractions
          </button>
        </div>
        <div class="filter-button-row">
          <button class="filter-button" (click)="toggleHighlight($event)">
            <img src="/assets/icons_type/shop.png" /> Shopping
          </button>
          <button class="filter-button" (click)="toggleHighlight($event)">
            <img src="/assets/icons_type/hotel.png" /> Hotel
          </button>
          <button class="filter-button" (click)="toggleHighlight($event)">
            <img src="/assets/icons_type/cafe.png" /> Cafe
          </button>
        </div>
      </div>
      <hr>
      <ng-container *ngFor="let place of nearbyPlaces">
        <div
          class="place"
          (click)="viewPlaceDetails(inputLocation, place.place_id)"
        >
          <img
            *ngIf="place.photos && place.photos.length > 0"
            [src]="place.photos[0].getUrl({ maxWidth: 200, maxHeight: 200 })"
          />
          <div class="place-info">
            <h3>{{ place.name }}</h3>
            <p>{{ place.formatted_address }}</p>
            <p>
              <ng-container *ngIf="place.rating && place.rating >= 0">
                <span
                  class="rating-star fas fa-star"
                  *ngFor="let i of [].constructor(Math.floor(place.rating))"
                ></span>
                <span
                  class="rating-star fas fa-star-half-alt"
                  *ngIf="place.rating % 1 !== 0"
                ></span>
              </ng-container>
              &nbsp;({{ place.user_ratings_total }})
            </p>
          </div>
        </div>
        <hr />
      </ng-container>
    </div>
  </div>
</div>
